VITE_TURNSTILE_SITE_KEY=3x00000000000000000000FF
TURNSTILE_SECRET_KEY=1x0000000000000000000000000000000AA
CF_TURNSTILE_VERIFY_ENDPOINT=https://challenges.cloudflare.com/turnstile/v0/siteverify

VITE_POSTHOG_KEY=placeholders
VITE_POSTHOG_HOST=https://eu.i.posthog.com

VITE_CONVEX_URL=
CONVEX_DEPLOYMENT=
VITE_PUBLIC_CONVEX_URL
VITE_PUBLIC_CONVEX_SITE_URL