.footer {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    margin-top: 2rem;
    align-items: center;
}

.footer a {
    display: flex;
    align-items: center;
    gap: 8px;
    color: darkgray;
}
