.text {
    margin-top: 0.5rem;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    min-height: 4rem;
    max-width: 33vw;

    @media only screen and (max-width: 768px) {
        max-width: 90vw;
    }
}

.duration {
    font-size: 2rem;
    font-weight: bold;
    text-decoration: underline;
}